@import url('https://fonts.googleapis.com/css?family=Droid+Serif:400,700|Lato:300i,400,700');
@import consts/colors
@import ../css/bootstrap-grid-min
@import ../css/font-awesome.min
@import partials/navigation
@import partials/cards
@import partials/posts
@import partials/buttons
@import partials/responsive
body 
  padding: 0
  margin: 0
  font-family: lato
  font-size: 1.5em
  color: $gray-dark
article
  font-family: 'Droid serif'
a
  color: $gray-dark
  &:hover 
    color: $gray-main
.wrapper 
  margin: 2em 0 !important

// helpers
.no-margin 
  margin: 0
.text-gray-medium 
  color: $gray-medium