.meta-post 
    h1 Article post in this sides
    .row.text-gray-medium 
        .level.col-sm-12
            | Level 
            strong "Intermediate"
        .devstack.col-sm-12
            span.item Post available in
                ul.horizontal-list 
                    li.active
                        a(href="#")
                            img(src="images/flags/id.png")
                    li
                        a(href="#")
                            img(src="images/flags/en.png")
            span.item Dev stacks 
                ul.horizontal-list
                    li 
                        a(href="" data-toggle="tooltip" title="javascript")
                            img(src="images/dev-1.png")
                    li 
                        a(href="" data-toggle="tooltip" title="Vue JS")
                            img(src="images/dev-2.png") 

