.author 
    .author-image
        img(src="images/avatar.jpg")
    .author-text 
        a(href="") Yusuf Akhsan H. (yussan)
        .meta
        .text-muted
            | Posted 2 days ago - 6 mins read
            br
            | Lorem ipsum semi dolor hokya - hokya, do you like it
