header
  nav.container 
    .row
      .col-sm-12
        .top
          .left
            .menu
              .logo
                a(href="/")
                  img(src="./images/logo-white.png")
            .menu
              .brand
                a(href="/") ACADEMY
            .menu.socialmedia 
              a.search.fa.fa-github(href="javascript:;")
              a.search.fa.fa-twitter(href="javascript:;")
              a.search.fa.fa-facebook(href="javascript:;")
          .right
            .menu 
              a.search.fa.fa-search(href="javascript:;") 
    .row 
      .col-sm-12      
        .bottom
          ul.horizontal-list
            li 
              a(href='#') HOME
            li.active
              a(href='#') ACADEMY
            li
              a(href='#') STORIES
            li
              a(href='#') OUR WORKS
            li
              a(href='#') CREW