extends layouts/default

block title 
    title Unique Notification System Using Realtime DB Firebase

block content 
    .container
        .row
            .col-md-10.col-md-push-1
                include ./components/atoms/card-author