extends layouts/index

block title 
    title https://byidmore.com byidmore.com web templates

block content 
    .content
        a(href="home.html") Home
        a(href="academy.html") Academy
        a(href="academy-detail.html") Academy Detail