html
    head
        title By Id-More
        link(rel="icon" href="./images/favicon.png")
        link(type="text/css" rel="stylesheet" href="./css/style.css")

    body
        navbar
            a.btn-menu#btn-navbar
            ul.menu
                li
                    a.btn.btn-white-outline(href="#home") home
                li
                    a.btn.btn-white-outline(href="#products") products
                li
                    a.btn.btn-white-outline(href="#projects") projects
                li
                    a.btn.btn-white-outline(href="#contact") contact us

        block content

        script(src="./js/script.js" defer)