@import ../consts/colors

.btn 
    &:focus 
        outline: none
    background: #FFF
    border: 0
    &.btn-blue 
        background-color: $blue-main
        color: $white-main
    &.btn-circle 
        border-radius: 10px
        border-radius: 40px
        background: #1e8bc3s